{% extends "base.html" %}
{% block content %}
    <h2>About Page</h2>
    <p>
        The Mandalorian is a live-action Star Wars television series developed by Lucasfilm. The series takes place about
        five years after the events of Star Wars: Episode VI Return of the Jedi and airs exclusively on the new Disney+
        streaming service beginning November 12, 2019. Jon Favreau is writing and is executive producer of the series.
        Directors include Dave Filoni, Deborah Chow, Rick Famuyiwa, Bryce Dallas Howard, and Taika Waititi.
    </p>
    <div class="row featurette">
        <div class="col-md-7">
            <h3>Din Djarin</h3>
            <p>
                Din Djarin, commonly known as "the Mandalorian" or "Mando" for short, was a human male Mandalorian who worked as a
                bounty hunter during the New Republic Era. With his Mandalorian armor and distinctive beskar helmet, Djarin was both
                well-equipped and enigmatic—a stranger whose past was shrouded in mystery to others. Orphaned during the Republic
                Era, he was raised as a foundling by the Children of the Watch, a cult that had broken off from mainstream
                Mandalorian society. This fact was hidden from Djarin, who was taught to believe that all Mandalorians followed the
                Children of the Watch's beliefs. He was trained to become a Mandalorian warrior and eventually joined the Tribe,
                which operated in a secret covert on Nevarro and was affiliated with the Children of the Watch. Djarin became
                battle-hardened, a man of few words, and a formidable hunter in an increasingly dangerous galaxy.
            </p>
        </div>
        <div class="col-md-5">
            <img src="https://www.hobbydb.com/processed_uploads/subject_photo/subject_photo/image/58767/1591907049-5068-7447/The-Mandalorian.jpg" alt="">
        </div>
    </div>
    <div class="row featurette">
        <div class="col-md-5">
            <img src="https://cheesecake.articleassets.meaww.com/506592/uploads/b7ad9650-3091-11eb-a277-011d25811a91_800_420.jpeg" alt="">
        </div>
        <div class="col-md-7">
            <h3>Grogu</h3>
            <p>
                Grogu, known to many simply as "the Child," was a male Force-sensitive Mandalorian foundling that belonged to the
                same species as Jedi Grand Master Yoda and Jedi Master Yaddle. Grogu was born in the year 41 BBY, and was raised at
                the Jedi Temple on Coruscant.
            
                Grogu was eventually held at a hideout run by Nikto mercenaries on Arvala-7 during the New Republic Era, having
                survived the siege of the Jedi Temple decades prior. While still an infant at the age of fifty years, he was sought,
                on behalf of Moff Gideon, by an Imperial who hired Mandalorian bounty hunter Din Djarin to retrieve him.
            </p>
        </div>
    </div>
{% endblock %}
