{% extends "base.html" %}
{% block content %}

    <h2>{{ page_title }}</h2>
    <p>
        The Mandalorian is a live-action Star Wars television series developed by Lucasfilm. The series takes place about
        five years after the events of Star Wars: Episode VI Return of the Jedi and airs exclusively on the new Disney+
        streaming service beginning November 12, 2019. Jon Favreau is writing and is executive producer of the series.
        Directors include Dave Filoni, Deborah Chow, Rick Famuyiwa, Bryce Dallas Howard, and Taika Waititi.
    </p>

    {% for member in company %}

    


        <div class="row featurette">

            {% if loop.index % 2 != 0 %}

                <div class="col-md-7">
                    <h3><a href="/about/{{ member.url }}">{{ loop.index }}. {{ member.name }}</a></h3>
                    <p>{{ member.description }}</p>
                </div>
                <div class="col-md-5">
                    <img src="{{ member.image_source }}" alt="" class="featurette-image image-responsive">
                </div>

            {% else %}

                <div class="col-md-5">
                    <img src="{{ member.image_source }}" alt="" class="featurette-image image-responsive">
                </div>
                <div class="col-md-7">
                    <h3><a href="/about/{{ member.url }}">{{ loop.index }}. {{ member.name }}</a></h3>
                    <p>{{ member.description }}</p>
                </div>

            {% endif %}

        </div>

        {% if loop.index != loop.length %}

            <hr class="featurette-divider"> 
            
        {% endif %}

    {% endfor %}
    
{% endblock %}
